<div
  class="card w-100 mt-5"
  style="position: fixed; left: 0; bottom: 0; width: 100%"
>
  <div class="card-header" style="background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,31,1) 42%, rgba(0,212,255,1) 100%);">
    <p style="text-align: center;">&#169; All Rights Reserved</p>
    <footer class="blockquote-footer">
      <h6 title="Source Title" style="text-align: center;color: aliceblue;">_Dibya ranjan sahoo_</h6>
    </footer>
  </div>
</div>
